html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 4.5em;
  }
  
  .themeColor{
    background-image: radial-gradient( #E58AB7, #502E3E);    
  }

  .content-padding{
    padding-bottom: 4.5em;
  }

  .adjustment-padding {
    padding-top: 4.5em;
  }

  .fontStyle {
    padding: 0.25em 0 0 0.25em;
    font-size: 5vw;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Sofia';
  }

  .footerAlign{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
  }

  .specialFooterAlign{
    display: inline-block;
    vertical-align: top;
    padding-right: 22px;
  }

  .fontColor, h2.fontColor{
    color: white;
  }

  .linkColor{
    color: black
  }

  .filterWhite {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(102%) contrast(101%);
  }
  .socialIcon {
    padding-right: 35px;
  }
